@import './colors.scss';

.Header {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: $gray-dark;

  .logo {
    margin: 0.5rem;
    color: $green;
    font-size: 2rem;
    font-weight: 600;
  }

  .toggle-trans {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    font-family: monospace;
    font-size: 1.2em;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    transition: 0.3s ease color;
    color: $yellow;

    &:hover {
      color: $green;
    }
  }

  img {
    width: 2rem;
  }
}
