@import './styles/colors.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Verdana, Helvetica, Arial,
    Ubuntu, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: $white;
  background-color: $gray;
}
